* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Segoe UI', 'Roboto', sans-serif;
	/* background: #69242f; */
	/* background: rgba(33, 68, 9, 0.719); */
	background-image: linear-gradient(to right, rgba(33, 68, 9, 0.719), #ffa857ef);
}

.container {
	margin: auto;
}

.header {
	background: rgba(53, 83, 34, 0.425);
}

.header a {
	padding: 20px 10px;
	display: flex;
	justify-content: center;
	cursor: pointer;
	text-decoration: none;
	/* color: #f38f32; */
	color: #fff;
}

.card {
	background-color: rgb(255, 255, 255);
	/* color: #3b3024; */
	color: rgba(0, 0, 0, 0.822);
	border-radius: 15px;
	padding: 40px;
	width: 50%;
	margin: 25px auto;
}

@media screen and (max-width: 1000px) {
	.card {
		width: 90%;
	}
}

.rating-input {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
}

.rating-input h2 {
	text-align: center;
}

.rating {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 40px 0;
}

.rating li {
	margin: 10px 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #dadada;
	/* color: #3b3024; */
	color: #000;
	position: relative;
	cursor: pointer;
	border-radius: 50px;
	cursor: pointer;
	width: 50px;
	height: 50px;
}

.rating li label {
	font-size: 20px;
	position: absolute;
}

[type='radio'] {
	/* background: #e4e4e4; */
	width: 50px;
	height: 50px;
	cursor: pointer;
	appearance: inherit;
	border-radius: 50px;
	border: none;
	transition: 0.3s ease-in-out;
}

[type='radio']:hover,
.rating li:hover {
	background: #f38f32ef;
	/* background: rgba(41, 83, 13, 0.425); */
	color: #fff;
	/* border: 1px solid #000; */
	width: 50px;
	height: 50px;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
}

[type='radio']:checked,
[type='radio']:checked ~ label {
	background: #f38f32ef;
	/* background: #f38f3288; */
	color: #fff;
}

.inputText-and-button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
}

.input-text {
	padding: 15px;
	border-radius: 5px;
	border: 1px solid #dadada;
	width: 90%;
	transform: translateX(25px);
	outline: none;
}

.disabled-btn-bg {
	background: #dadada;
	/* color: #3b3024; */
	color: #000;
	/* border: 1px solid #000; */
}

.btn-bg {
	/* background: #f38f32ef; */
	background: #f38f32ef;
	color: #fff;
	/* border: 1px solid #000; */
}

.btn-bg,
.disabled-btn-bg {
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	transform: translateX(-55px);
}

.message {
	text-align: center;
	margin-top: 10px;
	font-weight: 500;
	color: #f38f32c5;
	/* color: #000; */
}

.feedback-stats {
	display: flex;
	justify-content: center;
	color: #fff;
	padding-bottom: 25px;
}

.feedback-stats-review {
	position: absolute;
	left: 25%;
}

.feedback-stats-avr-rating {
	position: absolute;
	right: 25%;
}

@media screen and (max-width: 1000px) {
	.feedback-stats-review {
		position: absolute;
		left: 5%;
	}

	.feedback-stats-avr-rating {
		position: absolute;
		right: 5%;
	}
}

.no-feedback {
	color: #fff;
	text-align: center;
	padding: 20px 0;
}

.rating-card {
	position: relative;
}

.item-rating {
	/* background: #f38f32; */
	background: #f38f32;
	border-radius: 50px;
	width: 50px;
	height: 50px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	position: absolute;
	transform: translate(-55px, -55px);
	border: 2px solid #fff;
}

.edit-and-close {
	position: absolute;
	right: 0;
	display: flex;
	justify-content: space-between;
	transform: translate(15px, -25px);
	color: plum;
}

.edit {
	transform: translateX(-15px);
}

.close,
.edit {
	cursor: pointer;
	border: none;
	background: none;
}

.about-link a {
	position: absolute;
	right: 25%;
	/* color: #f38f32; */
	color: #fff;
	text-decoration: none;
	transition: .2s ease all;
}

.about-link a:hover {
	color: rgba(33, 68, 9, 0.719);
	/* color: #fff; */
	transform: scale(1.1);
}

@media screen and (max-width: 1000px) {
	.about-link a {
		position: absolute;
		right: 5%;
	}
}

.back-to-home {
	color: #f38f32;
	font-weight: 500;
	transition: .1s ease-in-out;
}

.back-to-home:hover {
	color: rgba(33, 68, 9, 0.719);
	font-weight: 500;
}
